SUPABASE_URL=https://nvsfhphnrgeoczoedlgv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im52c2ZocGhucmdlb2N6b2VkbGd2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTc1NTMxNSwiZXhwIjoyMDkxMzMxMzE1fQ.bZ4-5MQy9ouQth_azULJVDlp2-QKLj26jFesJVCT-nI
META_ACCESS_TOKEN=EAAV5JHzXeZBMBQiLNBb5QMk6PJ3d7rlGTHsL9ZCZADWWmjJ64UZBvlaRK88QnDlhQqjobjTVs1NOkXtOBEdLDqZA9qeZCSINif8j1FJloE1rwmnOwXyEbHaKL2XLcxD6E54tnKVNxNHfKgbTDs0RAhJdS36EogR0FaXU8R7LmAiUNlExpTmE3whZAOqnMKeObqBzJU7fdlUs60uOemOyuBC4hMZCtOlbR3y9tc9h
META_PHONE_NUMBER_ID=878261768713396
META_WEBHOOK_VERIFY_TOKEN=whatsapp_verify_token_123
META_APP_SECRET=
PORT=3001